@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <img class="codegif" src="https://learn.microsoft.com/en-us/visualstudio/ide/media/vs-2022/sticky-scroll-example-csharp.gif?view=vs-2022" alt="code">
</div>
<div class="text-center">
    <h4 class="display-4">Welcome to C# code analyzer:</h1>
    <button>Try for free:</button><button>Analyze</button>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
