
@model CodeAnalysisRequest

@{
    ViewData["Title"] = "C# Code Analyzer";
}

<div class="container mt-4">
    <h1 class="mb-4 Analyzer">C# Code Analyzer</h1>
    <p class="Analyzer">Welcome to C# Code Analyzer, your go-to tool for analyzing and troubleshooting C# code with ease. Simply provide your code, and our system will check if it runs correctly, identify any errors, and explain what's causing them. Additionally, you'll get insights into your code structure, including the number of lines, classes, and methods. Whether you're debugging or optimizing your code, C# Code Analyzer helps you write better, error-free C# programs efficiently.</p>
    <form asp-action="Analyze" method="post">
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <textarea asp-for="Code" class="form-control code-input" rows="15"></textarea>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-secondary btn-rounded btn-aln">
                <i class="bi bi-gear"></i> Analyze Code
            </button>
        </div>
    </form>
</div>